# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django files
db.sqlite3
*.log

# Static and media
staticfiles/
media/

# IDE settings
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db
